{{ define "header" }}
<!-- Post Header -->
<style type="text/css">
    header.intro-header {
        background-image: url('{{ if .Params.image }}{{ .Params.image | relURL }}{{ else }}{{ .Site.Params.header_image | relURL}}{{ end }}')
    }
</style>
{{ if eq .Params.headerstyle "text" }}
<header class="intro-header style-text" >
{{ else }}
<header class="intro-header" >
{{ end }}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading" style="padding-bottom: 0px;">
                    <h2>{{ .Title }}</h2>
                    <h2 class="subheading">{{ .Params.subtitle }}</h2>
                </div>
            </div>
        </div>
    </div>
</header>
{{ end }}

{{ define "main" }}
<!-- Post Content -->

    <div class="container text-center">

            
                {{ .Content }}

                <!--This is a the custom People index page-->
                <!-- could do [[ if eq .Params.Status "grad" ]], etc to order them -->

        <div class="row">
         
            {{ range .Pages }}
              {{ partial "personcard.html" . }}
            {{ end }}
        </div>

    </div>

{{ end }}
