{{ define "header" }}

{{ partial "peopleheader.html" . }}

{{ end }}

{{ define "main" }}
<!-- Post Content -->

    <div class="container text-center">

            
                {{ .Content }}

                <!--This is a the custom People index page-->
                <!-- could do [[ if eq .Params.Status "grad" ]], etc to order them -->

        <div class="row">
         
            {{ range .Pages }}
              {{ if not .Params.Alumn }}

              {{ partial "personcard.html" . }}
              {{ end }}
            {{ end }}
        </div>

        <h2>Alumni</h2>
        <div class="row">
            {{ range .Pages }}
              {{ if .Params.Alumn }}
                {{ partial "personcardsmall.html" . }}

              {{ end }}
            {{ end }}
        </div>

    </div>

{{ end }}
