{{ define "header" }}
<!-- Post Header -->
<style type="text/css">
    header.intro-header {
        background-image: url('{{ if .Params.image }}{{ .Params.image | relURL }}{{ else }}{{ .Site.Params.header_image | relURL}}{{ end }}')
    }
</style>

<header class="intro-header" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{ .Title }}</h1>
                    <h2 class="subheading">School of Aquatics and Fishery Science</h2>
                    <h2 class="subheading">University of Washington</h2>
                </div>
            </div>
        </div>
    </div>
</header>
{{ end }}


{{ define "main" }}
<div data-pagefind-ignore="all" class="container">
    <div class="row text-center">
        <div class="col-md-1"></div>
        <div class="col-md-10 col-xs-12">
            <!-- USE SIDEBAR -->
            <!-- Post Container -->

            <h1>We look for patterns in movement and behavior.</h1>
            <p>
                We're a research lab at the School of Aquatics and Fishery Sciences Department at
            the University of Washington. Our offices are in the Fishery Sciences Building.
            We like fish, whales, fungi, atmospheric dynamics, collective behavior,
            math, computer vision, collective behavior, and other stuff too.
            </p>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row category">
        <div class="col-md-6">
            <img src="/img/ai_salmon.png" style="width: 100%;"/>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <h2>Something about our culture</h2>
            <p>look at this picture of Ben's AI labeling things. this 
                paragraph could be something about our lab culture? maybe
                something aspirational, even.
            </p>
        </div>
        <div class="col-md-1"></div>

    </div>


    <div class="row category">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <h2>a DEI statement</h2>
            <p>check out this animation of fish startling. (I'm not sure who made it)
                this is probably talking about our DEI ideals, if that's different
                than our lab culture
            </p>
        </div>
        <div class="col-md-1"></div>

        <div class="col-md-6">
             <img src="/img/startle_response.gif" style="width: 60%; border-radius: 20%"/>
        </div>
    </div>




</div>
<style>
.category {
    padding-top: 100px
}
</style>
{{ end }}
